<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="fragment/header :: head"> </th:block>
</head>
<body>
<div class="container">
    <br>
    <nav>  <th:block th:replace="fragment/nav :: nav"></th:block>   </nav>
    <br>




    <h1>ALL BRANCH LIST :) </h1>
    <br>
    <table class="table table-striped">
        <thead>
        <th scope="row">#ID</th>
        <th scope="row">Branch</th>
        <th scope="row">Address</th>
        <th scope="row">Operating Hours</th>
        <th scope="row">Create On</th>
        <th scope="row">Update</th>
        <th scope="row">Delete</th>
        </thead>
        <tbody>
        <tr th:each="branch : ${branchLists}">
            <td th:text="${branch.id}"></td>
            <td th:text="${branch.name}"></td>
            <td th:text="${branch.address}"></td>
            <td th:text="${branch.operatingHours}"></td>
            <td th:text="${branch.createOn}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/update/__${branch.id}__}"  role="button" >Update</a>
            </td>
            <td>
                <div th:if="${branch.isDeleted}">
                    <a class="btn btn-primary" th:href="@{/delete/__${branch.id}__}" role="button" >Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


    <br>
    <a class="btn btn-primary" th:href="@{/}"  role="button" >Add New Branch</a>
    <br>

    <nav aria-label="...">
        <br>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>


    <footer>
        <th:block th:include="fragment/footer :: footer"></th:block>
    </footer>

</div>
</body>
</html>