<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"/>
    <title>Branch Company</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/starter-template.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/map.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/bootstrap-datepicker3.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>

</head>